{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/adminlte/plugins/iCheck/square/blue.css') }}" />
{% endblock %}

{% block javascripts %}
    <script type="application/javascript" src="{{ asset('bundles/adminlte/plugins/iCheck/icheck.min.js') }}"></script>
    <script type="application/javascript">
        $(function() {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%'
            });
        });
    </script>
{% endblock %}

{% block body %}
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <a href="/">Commerce</a>
            </div>

            <div class="login-box-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form action="/login" method="post">
                    <div class="form-group has-feedback">
                        <input type="text" name="name" class="form-control" placeholder="Username"  />
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" name="password" class="form-control" placeholder="Password" />
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="checkbox icheck">
                                <label>
                                    <input type="checkbox" name="remember" />
                                    Remember me
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                        </div>
                    </div>
                </form>

                

                <a href="/reset-password">I forgot my password</a>
                <br/>
                <a href="/register" class="text-center">Register</a>
            </div>
        </div>
    </body>
{% endblock %}
